mixin header(title)
  doctype 5
  html(lang=en)
    head
      title= title
      link(href='/css/screen.css', rel='stylesheet', type='text/css')
      meta(name='viewport', content='width=device-width')
    script(src='https://maps.googleapis.com/maps/api/js?key=' + services.google.apiKey + '&sensor=true')
    body
      h1
        a(href='/')= title
