include mixins/header
include mixins/footer

mixin header(title)

if (user.token)
  .welcome= "Welcome, " + user.name + "!"
  p= "activity: " + activities
  p= "Token: " + user.token
  p= "result: : " + result
  // ul.activities
  //   each activity in activities
  //     li= activity
else
  .welcome Maybe you should 
    a(href='/auth') log in

mixin footer()
