include mixins/header
include mixins/footer

mixin header(title)

h2 Strava Route

#map-canvas(style="height:400px;max-height:80%;")

script!= 'window.stream = ' + JSON.stringify(stream)
script(src='/js/map.js')

mixin footer()
